{% load static %}
<a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">


<html>
    <header>
        <head>
            <title>Tautologico</title>
            <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static '/css/blog.css' %}">
        </head>
    </header>
    <body>
        <div class="top-top">

            <h1><a href="/">Tautologico: Web, QA & Devops services</a></h1>
        </div>
        <div class="topnav">

            <a href="{% url 'home' %}">Home</a>
            <div class="topnav-right">
              <a href="{% url 'stack' %}">Stack</a>
              <a href="{% url 'about' %}">About</a>
              <a href="{% url 'contact' %}">Contact</a>
            </div>

        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>

<footer>
</footer>


</html>
