
body {
    padding-left: 15px;
}

.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    background: url('{{ STATIC_URL }}my_app/example.jpg')
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: #C25100
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar h1, .navbar h1 a {
  float: left;
  display: block;
  color: #C25100;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar h1:hover, .navbar h1 a:hover {
  background-color: #C25100;
  color: white;
}

/* Add a color to the active/current link */
.navbar h1:active, .navbar h1 a:active {
  background-color: #808080;
  color: white;
}

.nav {
  background-color: yellow;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
